<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="center">
        <h1>Files for Download</h1>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Course Title</th>
                    <th>Title</th>
                    <th>Course Code</th>
                    <th>Lecturer Name</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
                <% files.forEach((file, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= file.courseTitle %></td>
                        <td><%= file.fileTitle %></td>
                        <td><%= file.courseCode %></td>
                        <td><%= file.name %></td>
                        <td><a href="/download/<%= file._id %>">Download</a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
